{% extends 'base.html' %}

{% block main %}

<div class="bg-gradient-to-b from-gray-800 to-gray-900">
    <div class="container flex flex-col gap-6 ">
        <div class="flex flex-col items-center pb-12">
            <p class="text-white font-semibold text-3xl">Tal do tal jeito</p>
            <p class="text-white text-center text-lg max-w-md">Com a confiança de milhões de usuários, o Trello fortalece times em todo o mundo.
Saiba qual opção é ideal para você.</p>
        </div>
        <div class="grid grid-rows-1 grid-cols-3 gap-6">
            <div class="flex flex-col border-2 bg-gray-800 border-gray-700 p-4 rounded-br-2xl rounded-tl-2xl">
                <p class="text-white w-fit pl-2 pr-16 rounded-br-xl rounded-tl-xl bg-teal-600 text-xl uppercase font-mono">Premium</p>
                <div class="text-gray-200 pt-2 pb-2">
                    <span>R$</span>
                    <span class="text-5xl">4</span>
                    <span class="align-center">,99/mês</span>
                </div>
                <span class="text-gray-400">- Get premium recipes, talk with international chefs and generate images for your recipe.</span>
            </div>
            <div class="flex flex-col border-2 bg-gray-800 border-gray-700 p-4 rounded-br-2xl rounded-tl-2xl">
                <p class="text-white w-fit pl-2 pr-16 rounded-br-xl rounded-tl-xl bg-teal-600 text-xl uppercase font-mono">Premium</p>
                <div class="text-gray-200 pt-2 pb-2">
                    <span>R$</span>
                    <span class="text-5xl">4</span>
                    <span class="align-center">,99/mês</span>
                </div>
                <span class="text-gray-400">- Get premium recipes, talk with international chefs and generate images for your recipe.</span>
            </div>
            <div class="flex flex-col border-2 bg-gray-800 border-gray-700 p-4 rounded-br-2xl rounded-tl-2xl">
                <p class="text-white w-fit pl-2 pr-16 rounded-br-xl rounded-tl-xl bg-teal-600 text-xl uppercase font-mono">Premium</p>
                <div class="text-gray-200 pt-2 pb-2">
                    <span>R$</span>
                    <span class="text-5xl">4</span>
                    <span class="align-center">,99/mês</span>
                </div>
                <span class="text-gray-400">- Get premium recipes, talk with international chefs and generate images for your recipe.</span>
            </div>
        </div>
        <button class="self-center rounded-md px-36 py-4 text-xl bg-rose-500 text-white">Get started</button>
    </div>

</div>

{% endblock %}