    <section class="bg-gradient-to-b from-teal-900 to-teal-950">
        <div class="container mx-auto px-4">
            <div class="flex flex-wrap items-center">
                <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
                    <div class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 rounded-full">
                    <span class="text-4xl">🍑</span>
                    </div>
                    <h3 class="text-white text-3xl mb-2 font-semibold leading-normal">
                        Working with us is a pleasure
                    </h3>
                    <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-200">
                        Cooking should be fun, exciting, and full of expression. That's why we've harnessed the power of emojis to revolutionize your recipe experience. 🍔🍰🌮
                    </p>
                    <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-200">
                        No more sifting through boring text – our intuitive emoji interface guides you through crafting delectable dishes step by step. Whether you're a seasoned chef or a kitchen newcomer, our emoji recipes make cooking a breeze.
                    </p>
                    <div class="flex flex-row gap-2 mt-4">
                        <a href="" class="cursor-pointer uppercase font-bold text-sm bg-teal-900 rounded-md px-12 py-4 text-white">Get Started</a>
                        <a href="" class="cursor-pointer uppercase font-bold text-sm bg-gray-900 rounded-md px-12 py-4 text-white">GitHub Star </a>
                    </div>
                </div>
                <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
                    <div class="relative flex flex-col min-w-0 break-words w-full my-6 shadow-lg rounded-lg bg-teal-800">
                        <img
                            alt="..."
                            src="https://image1.cdn.seaart.ai/2023-06-20/36536925319237/9bcafa28490a7baf597f5b555df5b3df6675f712.png"
                            class="w-full h-72 object-cover align-middle rounded-t-lg"
                        />
                        <blockquote class="relative p-8 mb-4">
                            <svg
                            preserveAspectRatio="none"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 583 95"
                            class="absolute left-0 w-full block"
                            style="height: 95px; top: -94px;"
                            >
                            <polygon
                                points="-30,95 583,95 583,65"
                                class="text-teal-800 fill-current"
                            ></polygon>
                            </svg>
                            <h4 class="text-xl font-bold text-white">
                            Top Notch Services
                            </h4>
                            <p class="text-md font-light mt-2 text-white">
                            The Arctic Ocean freezes every winter and much of the
                            sea-ice then thaws every summer, and that process will
                            continue whatever happens.
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </main>